creditas-sf/force-app/main/default/flows/AccountFillDocumentKey.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>setDocumentKey</name>
        <label>setDocumentKey</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>$Record.DocumentKey__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ChaveDoDocumento</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Verifica se o número do documento mudou</description>
        <name>documentNumberChanged</name>
        <label>documentNumberChanged?</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.DocumentNumber__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDocumentKey</targetReference>
            </connector>
            <label>YES</label>
        </rules>
    </decisions>
    <description>Campo fórmula, para preencher chave do documento com informações do Tipo de documento + Número do Documento.</description>
    <formulas>
        <name>ChaveDoDocumento</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.DocumentType__c}) &amp; &quot; - &quot; &amp; {!$Record.DocumentNumber__c}</expression>
    </formulas>
    <interviewLabel>[Account] - Preencher chave de documento {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Account] - Preencher chave de documento</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>documentNumberChanged</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DocumentNumber__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>DocumentType__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
