creditas-sf/force-app/main/default/flows/AssignTasksToQueue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>VerificarTaskType</name>
        <label>Verificar Task Type</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FormalizacaoNovaProposta</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TaskType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formalização - Nova proposta</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeAutoFin.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FilaNovaProposta</targetReference>
            </connector>
            <label>Formalização - Nova proposta</label>
        </rules>
        <rules>
            <name>FormalizacaoEmAnalise</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TaskType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formalização - Em análise</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeAutoFin.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FilaReanalise</targetReference>
            </connector>
            <label>Formalização - Em análise</label>
        </rules>
        <rules>
            <name>FormalizacaoPendencia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TaskType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Formalização - Pendência</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeAutoFin.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FilaPendencia</targetReference>
            </connector>
            <label>Formalização - Pendência</label>
        </rules>
        <rules>
            <name>PendenciaOPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.TaskType__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendência OPS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecordTypeAutoFin.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FilaPendenciaOPS</targetReference>
            </connector>
            <label>Pendência OPS</label>
        </rules>
    </decisions>
    <interviewLabel>[Task] Atribuir tarefas à filas {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task] Atribuir tarefas à filas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FilaNovaProposta</name>
        <label>Fila Nova proposta</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Atribuir_tarefa_para_fila</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NewProposal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FilaPendencia</name>
        <label>Fila Pendência</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuirTarefaParaFilaPendencia</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InternalPending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FilaPendenciaOPS</name>
        <label>Fila Pendência OPS</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuirTarefaParaFilaPendenciaOPS</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OPSPending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>FilaReanalise</name>
        <label>Fila Reanálise</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuirTarefaParaFilaReanalise</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reanalysis</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>RecordTypeAutoFin</name>
        <label>Record Type AutoFin</label>
        <locationX>578</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>VerificarTaskType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AutoFin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atribuir_tarefa_para_fila</name>
        <label>Atribuir tarefa para fila</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FilaNovaProposta.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtribuirTarefaParaFilaPendencia</name>
        <label>Atribuir tarefa para fila</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FilaPendencia.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtribuirTarefaParaFilaPendenciaOPS</name>
        <label>Atribuir tarefa para fila</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FilaPendenciaOPS.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>AtribuirTarefaParaFilaReanalise</name>
        <label>Atribuir tarefa para fila</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>FilaReanalise.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>RecordTypeAutoFin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskType__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
