creditas-sf/force-app/main/default/flows/CriarEmissaodeContrato_Tarefas.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <constants>
        <name>FilaCredito</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Credit</stringValue>
        </value>
    </constants>
    <constants>
        <name>FilaFormalizacao</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Formalization</stringValue>
        </value>
    </constants>
    <constants>
        <name>QueueFechamento</name>
        <dataType>String</dataType>
        <value>
            <stringValue>DealClosing</stringValue>
        </value>
    </constants>
    <interviewLabel>CriarEmissão {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CriarEmissãodeContrato&amp;Tarefas</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CriarProcessodaOpp</name>
        <label>CriarProcessodaOpp</label>
        <locationX>176</locationX>
        <locationY>334</locationY>
        <connector>
            <targetReference>PreencherCampo</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>Emissão de Contrato</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Em Aberto</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityProcess__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarefa_Adiantar_Minuta</name>
        <label>Tarefa: Adiantar Minuta</label>
        <locationX>1125</locationX>
        <locationY>549</locationY>
        <connector>
            <targetReference>Tarefa_Confirmar_Valores</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Fila_de_formalizacao.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processos_da_Oportunidade__c</field>
            <value>
                <elementReference>CriarProcessodaOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Adiantar minuta</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarefa_Atualizar_Proposta_Final_de_Credito</name>
        <label>Tarefa: Atualizar Proposta Final de Credito</label>
        <locationX>1400</locationX>
        <locationY>549</locationY>
        <connector>
            <targetReference>Tarefa_Pendencia_de_emissao_de_fechamento</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Fila_de_Credito.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processos_da_Oportunidade__c</field>
            <value>
                <elementReference>CriarProcessodaOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Atualizar Proposta Final de Credito</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarefa_Condicionante_de_Fechamento</name>
        <label>Tarefa: Condicionante de Fechamento</label>
        <locationX>844</locationX>
        <locationY>549</locationY>
        <connector>
            <targetReference>Tarefa_Condicionante_de_Formalizacao_para_Emissao</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetFiladeFechamento.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processos_da_Oportunidade__c</field>
            <value>
                <elementReference>CriarProcessodaOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Condicionante de Fechamento</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarefa_Condicionante_de_Formalizacao_para_Emissao</name>
        <label>Tarefa: Condicionante de Formalização para Emissão</label>
        <locationX>982</locationX>
        <locationY>549</locationY>
        <connector>
            <targetReference>Tarefa_Adiantar_Minuta</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Fila_de_formalizacao.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processos_da_Oportunidade__c</field>
            <value>
                <elementReference>CriarProcessodaOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Condicionante de Formalização para Emissão</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarefa_Confirmar_Valores</name>
        <label>Tarefa: Confirmar Valores</label>
        <locationX>1264</locationX>
        <locationY>549</locationY>
        <connector>
            <targetReference>Tarefa_Atualizar_Proposta_Final_de_Credito</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetFiladeFechamento.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processos_da_Oportunidade__c</field>
            <value>
                <elementReference>CriarProcessodaOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Confirmar valores</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarefa_Pendencia_de_emissao_de_fechamento</name>
        <label>Tarefa: Pendencia de emissão de fechamento</label>
        <locationX>1535</locationX>
        <locationY>549</locationY>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>GetFiladeFechamento.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processos_da_Oportunidade__c</field>
            <value>
                <elementReference>CriarProcessodaOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Pendencia de emissão de fechamento</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Tarefa_Validar_Emissao_de_Minuta</name>
        <label>Tarefa: Validar Emissão de Minuta</label>
        <locationX>691</locationX>
        <locationY>549</locationY>
        <connector>
            <targetReference>Tarefa_Condicionante_de_Fechamento</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Fila_de_formalizacao.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Processos_da_Oportunidade__c</field>
            <value>
                <elementReference>CriarProcessodaOpp</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Validar Emissão de Minuta</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Fila_de_Credito</name>
        <label>Fila de Credito</label>
        <locationX>287</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Fila_de_formalizacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FilaCredito</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Fila_de_formalizacao</name>
        <label>Fila de formalização</label>
        <locationX>424</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetFiladeFechamento</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>FilaFormalizacao</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetFiladeFechamento</name>
        <label>GetFiladeFechamento</label>
        <locationX>556</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Tarefa_Validar_Emissao_de_Minuta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QueueFechamento</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Assim que criar o processo de emissão, esse processo irá preencher o campo : Processo de emissão já criado?</description>
        <name>PreencherCampo</name>
        <label>PreencherCampo</label>
        <locationX>128</locationX>
        <locationY>506</locationY>
        <connector>
            <targetReference>Fila_de_Credito</targetReference>
        </connector>
        <inputAssignments>
            <field>Processo_de_Emissao_ja_criado__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>CriarProcessodaOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Emissão e Pré-Assinatura</stringValue>
            </value>
        </filters>
        <filters>
            <field>Processo_de_Emissao_ja_criado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
