creditas-sf/force-app/main/default/flows/OpportunitRole_FillReportedIncome.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>SumMonthlyIncome</name>
        <label>Somar Rendas Mensais</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>TotalIncome</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverFinancialRelationship.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverFinancialRelationship</targetReference>
        </connector>
    </assignments>
    <interviewLabel>[OpportunitRole] Preencher campo Renda informada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[OpportunitRole] Preencher campo Renda informada</label>
    <loops>
        <name>LoopOverFinancialRelationship</name>
        <label>Percorrer Relações Financeiras</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>MonthlyIncomeFinancialRelationship</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SumMonthlyIncome</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateReportedIncome</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>MonthlyIncomeFinancialRelationship</name>
        <label>Relações financeiras de Renda Mensal</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverFinancialRelationship</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>auxResourceType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MONTHLY_INCOME</stringValue>
            </value>
        </filters>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ExternalPersonId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AccountFinancialRelationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateReportedIncome</name>
        <label>Atualizar Renda Informada</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <inputAssignments>
            <field>ReportedIncome__c</field>
            <value>
                <elementReference>TotalIncome</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>MonthlyIncomeFinancialRelationship</targetReference>
        </connector>
        <object>OpportunityRole__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FinancialResource</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinancialResources__c</objectType>
    </variables>
    <variables>
        <name>TotalIncome</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
