creditas-sf/force-app/main/default/flows/OpportunityFillSumIncome.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>SumReportedIncomeOpportunityRole</name>
        <label>Somar Renda Informada</label>
        <locationX>264</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>SumReportedIncome</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopOverReportedIncome.ReportedIncome__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOverReportedIncome</targetReference>
        </connector>
    </assignments>
    <description>Flow irá somar todos os valores de Renda Informada no objeto Opportunity Role e guardar no campo Renda Somada que está na Oportunidade.</description>
    <interviewLabel>[Opportunity] - Preencher campo Renda Somada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] - Preencher campo Renda Somada</label>
    <loops>
        <name>LoopOverReportedIncome</name>
        <label>Percorrer campo Renda Informada em Proponentes</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <collectionReference>ReportedIncome</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SumReportedIncomeOpportunityRole</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateSumIncome</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>ReportedIncome</name>
        <label>Renda Informada</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOverReportedIncome</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityRole__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateSumIncome</name>
        <label>Atualizar Renda Somada</label>
        <locationX>176</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SumIncome__c</field>
            <value>
                <elementReference>SumReportedIncome</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ReportedIncome</targetReference>
        </connector>
        <object>OpportunityRole__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SumReportedIncome</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
