creditas-sf/force-app/main/default/flows/Opportunity_Update_Last_Attendence_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assToUpdateUser</name>
        <label>assToUpdateUser</label>
        <locationX>891</locationX>
        <locationY>149</locationY>
        <assignmentItems>
            <assignToReference>sObjUser.LastAttendance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjUser.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateUser</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Verifica se o RecordType da Oportunidade é ATWORK.</description>
        <name>AtWork</name>
        <label>AtWork?</label>
        <locationX>609</locationX>
        <locationY>150</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>varRecordTypeName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assToUpdateUser</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Quando uma oportunidade entra no Status de formalização de &quot;Aprovado&quot;, &quot;Rejeitado&quot; ou &quot;Pendenciado&quot;, atualiza o campo &quot;Último atendimento do usuário.</description>
    <formulas>
        <name>forNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>[Opportunity] Update Last Attendence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Update Last Attendence Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateUser</name>
        <label>UpdateUser</label>
        <locationX>1075</locationX>
        <locationY>149</locationY>
        <inputReference>sObjUser</inputReference>
    </recordUpdates>
    <start>
        <locationX>124</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>AtWork</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pendenciado para Consultoria</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejeitado em Formalização</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Aprovado em Formalização</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>sObjUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AtWork</stringValue>
        </value>
    </variables>
</Flow>
