creditas-sf/force-app/main/default/flows/Opportunity_DistributionException.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>54.0</apiVersion>
    <choices>
        <name>Prioridade</name>
        <choiceText>Prioridade</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prioridade</stringValue>
        </value>
    </choices>
    <choices>
        <name>Tratativa</name>
        <choiceText>Tratativa</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Tratativa</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Checa_motivo_selecionado</name>
        <label>Checa motivo selecionado</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>DistributionOrPriority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>ChecksExceptionReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outros</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ChecksPriorityReason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Outros</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DescriptionReason</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>DistributionOrPriority</name>
        <label>Tratativa ou Prioridade</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>OppUpdatePriority</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Prioridade</defaultConnectorLabel>
        <rules>
            <name>Distribution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExceptionType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Tratativa</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOpportunityDistribution</targetReference>
            </connector>
            <label>Tratativa</label>
        </rules>
    </decisions>
    <decisions>
        <name>isManualOrException</name>
        <label>Alteração manual ou exceção</label>
        <locationX>380</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>DistributionException_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Alteração manual</defaultConnectorLabel>
        <rules>
            <name>ExceptionDistribution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetUser.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Integration User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DistributionExceptionScreen</targetReference>
            </connector>
            <label>Exceção na distribuição</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ExceptionReasonPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DistributionExceptionReason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>getUsersFromLookup</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND ( 2 OR 3)</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getUserProfiles1_0.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getUserProfiles2_0.Id</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>selectedUserId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PriorityReasonPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PriorityExceptionReason__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>ChecksExceptionReason</name>
        <dataType>String</dataType>
        <expression>TEXT({!ExceptionReasonPicklist})</expression>
    </formulas>
    <formulas>
        <name>ChecksPriorityReason</name>
        <dataType>String</dataType>
        <expression>TEXT({!PriorityReasonPicklist})</expression>
    </formulas>
    <interviewLabel>[Opportunity] Distribution Exception {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Distribution Exception</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Busca os dados da Oportunidade que tenha o mesmo ID</description>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>380</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>PartnerAccount__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetUser</name>
        <label>GetUser</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUserProfiles1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetOpportunity.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUserProfiles1_0</name>
        <label>Perfil F Analista l</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUserProfiles2_0</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>[AUTOFIN] F Analista I</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUserProfiles2_0</name>
        <label>Perfil F Analista l</label>
        <locationX>380</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isManualOrException</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>[AUTOFIN] F Analista II</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>OppUpdatePriority</name>
        <label>Atualiza Oportunidade</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>selectedUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PriorityExceptionDescription__c</field>
            <value>
                <elementReference>PriorityDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PriorityExceptionReason__c</field>
            <value>
                <elementReference>PriorityReasonPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PriorityException__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Aguardando Análise de Formalização</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpportunity_0</name>
        <label>Atualiza Oportunidade</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>selectedUserId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOpportunityDistribution</name>
        <label>Atualiza Oportunidade</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DistributionExceptionReason__c</field>
            <value>
                <elementReference>ExceptionReasonPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DistributionException__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExceptionReasonDescription__c</field>
            <value>
                <elementReference>ExceptionDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>selectedUserId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Aguardando Análise de Formalização</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>DescriptionReason</name>
        <label>Descrição</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>DistributionOrPriority</targetReference>
        </connector>
        <fields>
            <name>DisplayDescription</name>
            <fieldText>&lt;p&gt;Preencha o motivo da exceção:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExceptionDescription</name>
            <dataType>String</dataType>
            <fieldText>Descrição</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExceptionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Tratativa</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>PriorityDescription</name>
            <dataType>String</dataType>
            <fieldText>Descrição</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExceptionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Prioridade</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <helpText>&lt;p&gt;Descreva o motivo da exceção.&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DistributionException</name>
        <label>Exceção de Tratativa ou Prioridade</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Checa_motivo_selecionado</targetReference>
        </connector>
        <fields>
            <name>PartnerAccountDisplay</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Loja:&lt;/strong&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; {!varPartnerAccount}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pickListUser</name>
            <choiceReferences>getUsersFromLookup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Proprietário da oportunidade:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ExceptionReason</name>
            <choiceReferences>ExceptionReasonPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivo da exceção de tratativa:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExceptionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Tratativa</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Motivo_da_exce_o_de_prioridade</name>
            <choiceReferences>PriorityReasonPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Motivo da exceção de prioridade:</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ExceptionType</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Prioridade</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Alterar o proprietário da oportunidade depois que foi distribuída.</description>
        <name>DistributionException_2</name>
        <label>Exceção após distribuição</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateOpportunity_0</targetReference>
        </connector>
        <fields>
            <name>DisplayChangeOwner_0</name>
            <fieldText>&lt;p&gt;Selecione o novo proprietário:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pickListUser_0</name>
            <choiceReferences>getUsersFromLookup</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Proprietário da oportunidade</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DistributionExceptionScreen</name>
        <label>Exceção na distribuição</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DistributionException</targetReference>
        </connector>
        <fields>
            <name>ExceptionTypeDisplay</name>
            <fieldText>&lt;p&gt;Selecione o tipo de exceção:&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ExceptionType</name>
            <choiceReferences>Tratativa</choiceReferences>
            <choiceReferences>Prioridade</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Tipo de exceção</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>selectedUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPartnerAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>GetOpportunity.PartnerAccount__r.Name</elementReference>
        </value>
    </variables>
</Flow>
