creditas-sf/force-app/main/default/flows/Opportunity_Update_Last_Attendence_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assToUpdateUser</name>
        <label>assToUpdateUser</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>sObjUser.LastAttendance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>forNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sObjUser.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateUser</targetReference>
        </connector>
    </assignments>
    <description>Quando uma oportunidade entra no Status de formalização de &quot;Aprovado&quot;, &quot;Rejeitado&quot; ou &quot;Pendenciado&quot;, atualiza o campo &quot;Último atendimento do usuário.</description>
    <formulas>
        <name>forNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>[Opportunity] Update Last Attendence {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Opportunity] Update Last Attendence Time</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateUser</name>
        <label>UpdateUser</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <inputReference>sObjUser</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>assToUpdateUser</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>sObjUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>AtWork</stringValue>
        </value>
    </variables>
</Flow>
