creditas-sf/force-app/main/default/flows/Opportunity_StageControl.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assignOppStageNameAvaiable</name>
        <label>assignOppStageNameAvaiable</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aguardando Análise de Formalização</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignVariablesOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignOppStageUnavaiable</name>
        <label>AssignOppStageUnavaiable</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Retorno de Pendência de Formalização</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getIntegrationUser.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignVariablesOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignVariablesOpp</name>
        <label>AssignVariablesOpp</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>$Record.PendingReturnCount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PendingCount</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>sumPendencyReturn</name>
        <label>sumPendencyReturn</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>PendingCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>OwnerAvailable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>OwnerAvailable</name>
        <label>OwnerAvailable</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>getIntegrationProfileId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner.UserAvailable__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assignOppStageNameAvaiable</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the prior stage value was Pendencia OPS</description>
        <name>PendencyReturn</name>
        <label>Pendency Return?</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendência OPS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AutoFin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguardando Distribuição de Formalização</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sumPendencyReturn</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_StageControl</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getIntegrationProfileId</name>
        <label>getIntegrationProfileId</label>
        <locationX>314</locationX>
        <locationY>671</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getIntegrationUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Integration User</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getIntegrationUser</name>
        <label>getIntegrationUser</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignOppStageUnavaiable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getIntegrationProfileId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>PendencyReturn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PendingCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record__Prior.PendingReturnCount__c</elementReference>
        </value>
    </variables>
</Flow>
