creditas-sf/force-app/main/default/flows/Opportunity_StageControl.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>FirstAssignment</name>
        <label>FirstAssignment</label>
        <locationX>917</locationX>
        <locationY>169</locationY>
        <assignmentItems>
            <assignToReference>PendingCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateStagePendencyReturn</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>Checks if the prior stage value was Pendencia OPS</description>
        <name>PendencyReturn</name>
        <label>Pendency Return?</label>
        <locationX>670</locationX>
        <locationY>166</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pendência OPS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AutoFin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Aguardando Distribuição de Formalização</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FirstAssignment</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <interviewLabel>Opportunity_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_StageControl</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update StageName to &quot;Retorno de Pendência de Formalização&quot;.</description>
        <name>UpdateStagePendencyReturn</name>
        <label>Retorno de Pendência de Formalização</label>
        <locationX>1070</locationX>
        <locationY>165</locationY>
        <inputAssignments>
            <field>PendingReturnCount__c</field>
            <value>
                <elementReference>PendingCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Retorno de Pendência de Formalização</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>222</locationX>
        <locationY>78</locationY>
        <connector>
            <targetReference>PendencyReturn</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PendingCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <elementReference>$Record__Prior.PendingReturnCount__c</elementReference>
        </value>
    </variables>
</Flow>
