creditas-sf/force-app/main/default/flows/Orc_Op_Emiss_o_de_Contrato_Validar_Emissao_de_Minuta.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>RespostaCondicionanteNao</name>
        <label>Resposta Condicionante = Não</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ObterRespostaCondicionante</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nao</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RespostaCondicionanteSim</name>
        <label>Resposta Condicionante = Sim</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>ObterRespostaCondicionante</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sim</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateTask</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Nao</name>
        <choiceText>Não</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Não</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sim</name>
        <choiceText>Sim</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sim</stringValue>
        </value>
    </choices>
    <decisions>
        <name>ExisteCondicionante</name>
        <label>Existe Condicionante?</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>UpdateTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>SimExisteCondicionante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Screen_ExisteCondicionanteParaEmissao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Sim</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RespostaCondicionanteSim</targetReference>
            </connector>
            <label>Sim, existe condicionante</label>
        </rules>
        <rules>
            <name>NaoExisteCondicionante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Screen_ExisteCondicionanteParaEmissao</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Nao</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RespostaCondicionanteNao</targetReference>
            </connector>
            <label>Não existe condicionante</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>TaskStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Orc - Op - Emissão de Contrato - Validar Emissão de Minuta {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orc - Op - Emissão de Contrato - Validar Emissão de Minuta</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>OpportunityProcess_InProgress</name>
        <label>Processo da Oportunidade = Em Andamento</label>
        <locationX>314</locationX>
        <locationY>734</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityProcessId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Em Andamento</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityProcess__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateTask</name>
        <label>Atualizar Tarefa</label>
        <locationX>314</locationX>
        <locationY>614</locationY>
        <connector>
            <targetReference>OpportunityProcess_InProgress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TaskId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <elementReference>TaskStatus</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordUpdates>
    <screens>
        <name>ValidarEmissaoDeMinuta</name>
        <label>Validar Emissão de Minuta</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ExisteCondicionante</targetReference>
        </connector>
        <fields>
            <name>Screen_TaskStatus</name>
            <choiceReferences>TaskStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Open</stringValue>
            </defaultValue>
            <fieldText>Status da Tarefa</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ValidarEmissaoDeMinuta_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>ValidarEmissaoDeMinuta_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Screen_ExisteCondicionanteParaEmissao</name>
            <choiceReferences>Sim</choiceReferences>
            <choiceReferences>Nao</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Existe Condicionante para Emissão?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ValidarEmissaoDeMinuta</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ObterRespostaCondicionante</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>OpportunityProcessId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variável para receber o Id da Tarefa criada no Flow: Orc - Op - Emissão de Contrato - Validar Emissão de Minuta</description>
        <name>TaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
