creditas-sf/force-app/main/default/flows/OrchestrationOportunidadeEmissaoDeContrato.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <description>Verificar se foi apontada existência de Condicionante de Emissão no Flow: Orc - Op - Emissão de Contrato - Validar Emissão de Minuta</description>
        <name>ExisteCondicionanteDeEmissao</name>
        <label>Existe Condicionante de Emissão?</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>SimExisteCondicionante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RealizarValidacaoEmissaoDeMinuta.Outputs.ObterRespostaCondicionante</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CondicionantesDeEmissao</targetReference>
            </connector>
            <label>Sim, existe condicionante</label>
        </rules>
        <rules>
            <name>NaoExisteCondicionante</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RealizarValidacaoEmissaoDeMinuta.Outputs.ObterRespostaCondicionante</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AdiantarMinutaeConfirmarValores</targetReference>
            </connector>
            <label>Não existe condicionante</label>
        </rules>
    </decisions>
    <decisions>
        <name>ExistePendenciaEmAdiantamentoOuConfirmacaoDeValores</name>
        <label>Existe pendência em adiantamento ou confirmação de valores?</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SimExistePendenciaEmAdiantamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Adiantar_Minuta.Outputs.ObterRespostaPendencia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PendenciasEmAdiantamento</targetReference>
            </connector>
            <label>Sim, existe pendência em adiantamento</label>
        </rules>
        <rules>
            <name>NaoExistemPendenciasEmAdiantamento</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Adiantar_Minuta.Outputs.ObterRespostaPendencia</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConfirmacaoDeValores</targetReference>
            </connector>
            <label>Não existem pendências em adiantamento</label>
        </rules>
    </decisions>
    <decisions>
        <name>NecessarioAvaliacaoDeCredito</name>
        <label>Necessário Avaliação de Crédito?</label>
        <locationX>314</locationX>
        <locationY>1367</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>SimNecessarioAvaliacaoDeCredito</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RealizarConfirmacaoDeValores.Outputs.NecessidadeAvaliacaoCredito</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AvaliacaoDeCredito</targetReference>
            </connector>
            <label>Sim, é necessário avaliação de Crédito</label>
        </rules>
        <rules>
            <name>NaoENecessarioAvaliacaoDeCredito</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RealizarConfirmacaoDeValores.Outputs.NecessidadeAvaliacaoCredito</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Não</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>EmissaoDeMinuta</targetReference>
            </connector>
            <label>Não é necessário avaliação de Crédito</label>
        </rules>
    </decisions>
    <interviewLabel>Orchestration - Oportunidade - Emissão de Contrato {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Orchestrator - Oportunidade - Emissão de Contrato</label>
    <orchestratedStages>
        <name>AdiantarMinutaeConfirmarValores</name>
        <label>Adiantar Minuta e Confirmar Valores</label>
        <locationX>314</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>ExistePendenciaEmAdiantamentoOuConfirmacaoDeValores</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>CriarTarefadeAdiantarMinutaeConfirmarValores</name>
            <actionName>Orc_Op_EmissaodeContrato_CriarTarefaDeAdiantarMinutaeConfirmarValores</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>OpportunityId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OpportunityProcessId</name>
                <value>
                    <elementReference>CriarProcessoDaOportunidadeTarefaDeValidacaoDaEmissao.Outputs.OpportunityProcessId</elementReference>
                </value>
            </inputParameters>
            <label>Criar Tarefas de Adiantar Minuta e Confirmar Valores</label>
        </stageSteps>
        <stageSteps>
            <name>Adiantar_Minuta</name>
            <actionName>Orc_Op_EmissaoDeContratoValidarAdiantamentoDeMinuta</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>leonardo.nascimento@gft.com.devhub</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>CriarTarefadeAdiantarMinutaeConfirmarValores.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>CriarTarefadeAdiantarMinutaeConfirmarValores.Outputs.TaskId_AdiantarMinuta</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TaskId</name>
                <value>
                    <elementReference>CriarTarefadeAdiantarMinutaeConfirmarValores.Outputs.TaskId_AdiantarMinuta</elementReference>
                </value>
            </inputParameters>
            <label>Adiantar Minuta</label>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>AvaliacaoDeCredito</name>
        <label>Avaliação de Crédito</label>
        <locationX>50</locationX>
        <locationY>1487</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>ConfirmacaoDeValores</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>CriarTarefaDeAvaliacaoDeCredito</name>
            <actionName>Orc_Op_EmissaoDeContrato_CriarTarefaDeAtualizarPropostaFinalDeCredito</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>OpportunityId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OpportunityProcessId</name>
                <value>
                    <elementReference>CriarProcessoDaOportunidadeTarefaDeValidacaoDaEmissao.Outputs.OpportunityProcessId</elementReference>
                </value>
            </inputParameters>
            <label>Criar Tarefa de Avaliação de Crédito</label>
        </stageSteps>
        <stageSteps>
            <name>AtualizarPropostaFinalDeCredito</name>
            <actionName>Orc_Op_EmissaoDeContrato_AtualizarPropostaFinalDeCredito</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>leonardo.nascimento@gft.com.devhub</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>CriarTarefaDeAvaliacaoDeCredito.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>CriarTarefaDeAvaliacaoDeCredito.Outputs.TaskId_AtualizarPropostaFinalDeCredito</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TaskId</name>
                <value>
                    <elementReference>CriarTarefaDeAvaliacaoDeCredito.Outputs.TaskId_AtualizarPropostaFinalDeCredito</elementReference>
                </value>
            </inputParameters>
            <label>Atualizar Proposta Final de Crédito</label>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>CondicionantesDeEmissao</name>
        <label>Condicionantes de Emissão</label>
        <locationX>94</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>AdiantarMinutaeConfirmarValores</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <description>Criar Tarefas Condicionantes de Emissão de Minuta através do Flow:
Orc - Op - Emissão de Contrato - Criar Tarefas Condicionantes de Emissão</description>
            <name>CriarTarefasCondicionantesDeEmissao</name>
            <actionName>Orc_Op_EmissaoDeContratoCriarTarefasCondicionantesDeEmissao</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>OpportunityId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OpportunityProcessId</name>
                <value>
                    <elementReference>CriarProcessoDaOportunidadeTarefaDeValidacaoDaEmissao.Outputs.OpportunityProcessId</elementReference>
                </value>
            </inputParameters>
            <label>Criar Tarefas Condicionantes de Emissão</label>
        </stageSteps>
        <stageSteps>
            <name>CondicionanteDeEmissaoDeFechamentoDaMinuta</name>
            <actionName>Orc_Op_EmissaoDeContratoCondicionanteDeFechamentoParaEmiss_o</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>leonardo.nascimento@gft.com.devhub</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>CriarTarefasCondicionantesDeEmissao.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>CriarTarefasCondicionantesDeEmissao.Outputs.TaskId_CondicionanteFechamento</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TaskId</name>
                <value>
                    <elementReference>CriarTarefasCondicionantesDeEmissao.Outputs.TaskId_CondicionanteFechamento</elementReference>
                </value>
            </inputParameters>
            <label>Condicionante de Emissão de Fechamento da Minuta</label>
        </stageSteps>
        <stageSteps>
            <name>CondicionanteDeEmissaoDeFormalizacaoDaMinuta</name>
            <actionName>Orc_Op_EmissaoDeContratoCondicionanteDeFormalizacaoParaEmissao</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>leonardo.nascimento@gft.com.devhub</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>CriarTarefasCondicionantesDeEmissao.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>CriarTarefasCondicionantesDeEmissao.Outputs.TaskId_CondicionanteFormalizacao</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TaskId</name>
                <value>
                    <elementReference>CriarTarefasCondicionantesDeEmissao.Outputs.TaskId_CondicionanteFormalizacao</elementReference>
                </value>
            </inputParameters>
            <label>Condicionante de Emissão de Formalização da Minuta</label>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>ConfirmacaoDeValores</name>
        <label>Confirmação de Valores</label>
        <locationX>314</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>NecessarioAvaliacaoDeCredito</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>RealizarConfirmacaoDeValores</name>
            <actionName>Orc_Op_EmissaoDeContrato_ConfirmarValores</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>leonardo.nascimento@gft.com.devhub</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>CriarTarefadeAdiantarMinutaeConfirmarValores.Outputs.TaskId_ConfirmarValores</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TaskId</name>
                <value>
                    <elementReference>CriarTarefadeAdiantarMinutaeConfirmarValores.Outputs.TaskId_ConfirmarValores</elementReference>
                </value>
            </inputParameters>
            <label>Realizar Confirmação de Valores</label>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>EmissaoDeMinuta</name>
        <label>Emissão de Minuta</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>CriarTarefaDeEmitirMinuta</name>
            <actionName>Orc_Op_EmissaodeContrato_CriarTarefadeEmitirMinuta</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>OpportunityId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OpportunityProcessId</name>
                <value>
                    <elementReference>CriarProcessoDaOportunidadeTarefaDeValidacaoDaEmissao.Outputs.OpportunityProcessId</elementReference>
                </value>
            </inputParameters>
            <label>Criar Tarefa de Emitir Minuta</label>
        </stageSteps>
        <stageSteps>
            <name>EmitirMinuta</name>
            <actionName>Orc_Op_EmissaodeContrato_EmitirMinuta</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>leonardo.nascimento@gft.com.devhub</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>CriarTarefaDeEmitirMinuta.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>CriarTarefaDeEmitirMinuta.Outputs.TaskId_EmitirMinuta</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TaskId</name>
                <value>
                    <elementReference>CriarTarefaDeEmitirMinuta.Outputs.TaskId_EmitirMinuta</elementReference>
                </value>
            </inputParameters>
            <label>Emitir Minuta</label>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>PendenciasEmAdiantamento</name>
        <label>Pendências em Adiantamento</label>
        <locationX>94</locationX>
        <locationY>1031</locationY>
        <connector>
            <targetReference>ConfirmacaoDeValores</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>CriarTarefasDePendenciasEmAdiantamento</name>
            <actionName>Orc_Op_EmissaoDeContrato_CriarTarefasDePendenciasEmAdiantamentoDeMinuta</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>OpportunityId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OpportunityProcessId</name>
                <value>
                    <elementReference>CriarProcessoDaOportunidadeTarefaDeValidacaoDaEmissao.Outputs.OpportunityProcessId</elementReference>
                </value>
            </inputParameters>
            <label>Criar tarefas de Pendências em Adiantamento</label>
        </stageSteps>
        <stageSteps>
            <name>PendenciaDeEmissaoDeFechamento</name>
            <actionName>Orc_Op_EmissaoDeContratoPendenciaDeEmissaoDeFechamento</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>leonardo.nascimento@gft.com.devhub</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>CriarTarefasDePendenciasEmAdiantamento.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>CriarTarefasDePendenciasEmAdiantamento.Outputs.TaskId_PendenciaDeEmissaoDeFechamento</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TaskId</name>
                <value>
                    <elementReference>CriarTarefasDePendenciasEmAdiantamento.Outputs.TaskId_PendenciaDeEmissaoDeFechamento</elementReference>
                </value>
            </inputParameters>
            <label>Pendência de Emissão de Fechamento</label>
        </stageSteps>
        <stageSteps>
            <name>PendenciaDeEmissaoDeFormalizacao</name>
            <actionName>Orc_Op_EmissaoDeContratoPendenciaDeEmissaoDeFormalizao</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>leonardo.nascimento@gft.com.devhub</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>CriarTarefasDePendenciasEmAdiantamento.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>CriarTarefasDePendenciasEmAdiantamento.Outputs.TaskId_PendenciaDeEmissaoDeFormalizacao</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TaskId</name>
                <value>
                    <elementReference>CriarTarefasDePendenciasEmAdiantamento.Outputs.TaskId_PendenciaDeEmissaoDeFormalizacao</elementReference>
                </value>
            </inputParameters>
            <label>Pendências de Emissão de Formalização</label>
        </stageSteps>
        <stageSteps>
            <name>PendenciaDeEmissaoDeOperacoesCartorarias</name>
            <actionName>Orc_Op_EmissaoDeContratoPendenciaDeEmissaoDeOperacoesCartorarias</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>leonardo.nascimento@gft.com.devhub</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>CriarTarefasDePendenciasEmAdiantamento.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>CriarTarefasDePendenciasEmAdiantamento.Outputs.TaskId_PendenciaDeEmissaoDeOperacoesCartorarias</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TaskId</name>
                <value>
                    <elementReference>CriarTarefasDePendenciasEmAdiantamento.Outputs.TaskId_PendenciaDeEmissaoDeOperacoesCartorarias</elementReference>
                </value>
            </inputParameters>
            <label>Pendência de Emissão de Operações Cartorárias</label>
        </stageSteps>
        <stageSteps>
            <name>PendenciadeEmissaodeJuridico</name>
            <actionName>Orc_Op_EmissaoDeContratoPendenciaDeEmissaoDeJuridico</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>leonardo.nascimento@gft.com.devhub</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>CriarTarefasDePendenciasEmAdiantamento.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>CriarTarefasDePendenciasEmAdiantamento.Outputs.TaskId_PendenciaDeEmissaoDeJuridico</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TaskId</name>
                <value>
                    <elementReference>CriarTarefasDePendenciasEmAdiantamento.Outputs.TaskId_PendenciaDeEmissaoDeJuridico</elementReference>
                </value>
            </inputParameters>
            <label>Pendência de Emissão de Jurídico</label>
        </stageSteps>
        <stageSteps>
            <name>PendenciadeEmissaoDeCredito</name>
            <actionName>Orc_Op_EmissaoDeContratoPendenciaDeEmissaoDeCredito</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>leonardo.nascimento@gft.com.devhub</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>CriarTarefasDePendenciasEmAdiantamento.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>CriarTarefasDePendenciasEmAdiantamento.Outputs.TaskId_PendenciaDeEmissaoDeCredito</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TaskId</name>
                <value>
                    <elementReference>CriarTarefasDePendenciasEmAdiantamento.Outputs.TaskId_PendenciaDeEmissaoDeCredito</elementReference>
                </value>
            </inputParameters>
            <label>Pendência de Emissão de Crédito</label>
        </stageSteps>
        <stageSteps>
            <name>PendenciasDeEmissaoDeRiscoImobiliario</name>
            <actionName>EmissaoDeContratoPendenciaDeEmissaoDeRiscoImobiliario</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>leonardo.nascimento@gft.com.devhub</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>CriarTarefasDePendenciasEmAdiantamento.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>CriarTarefasDePendenciasEmAdiantamento.Outputs.TaskId_PendenciaDeEmissaoDeRiscoImobiliario</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TaskId</name>
                <value>
                    <elementReference>CriarTarefasDePendenciasEmAdiantamento.Outputs.TaskId_PendenciaDeEmissaoDeRiscoImobiliario</elementReference>
                </value>
            </inputParameters>
            <label>Pendências de Emissão de Risco Imobiliário</label>
        </stageSteps>
    </orchestratedStages>
    <orchestratedStages>
        <name>ValidarEmissaoDeMinuta</name>
        <label>Validar Emissão de Minuta</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>ExisteCondicionanteDeEmissao</targetReference>
        </connector>
        <exitConditionLogic>and</exitConditionLogic>
        <stageSteps>
            <name>CriarProcessoDaOportunidadeTarefaDeValidacaoDaEmissao</name>
            <actionName>Orc_Op_Emissao_de_Contrato_Validar_Emissao_de_Minuta</actionName>
            <actionType>stepBackground</actionType>
            <entryConditionLogic>and</entryConditionLogic>
            <inputParameters>
                <name>OpportunityId</name>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </inputParameters>
            <label>Criar Processo da Oportunidade e Tarefa de Validação de Emissão</label>
        </stageSteps>
        <stageSteps>
            <name>RealizarValidacaoEmissaoDeMinuta</name>
            <actionName>Orc_Op_Emiss_o_de_Contrato_Validar_Emissao_de_Minuta</actionName>
            <actionType>stepInteractive</actionType>
            <assignees>
                <assignee>
                    <stringValue>leonardo.nascimento@gft.com.devhub</stringValue>
                </assignee>
                <assigneeType>User</assigneeType>
            </assignees>
            <entryConditionLogic>and</entryConditionLogic>
            <entryConditions>
                <leftValueReference>CriarProcessoDaOportunidadeTarefaDeValidacaoDaEmissao.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </entryConditions>
            <inputParameters>
                <name>ActionInput__RecordId</name>
                <value>
                    <elementReference>CriarProcessoDaOportunidadeTarefaDeValidacaoDaEmissao.Outputs.TaskId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>OpportunityProcessId</name>
                <value>
                    <elementReference>CriarProcessoDaOportunidadeTarefaDeValidacaoDaEmissao.Outputs.OpportunityProcessId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TaskId</name>
                <value>
                    <elementReference>CriarProcessoDaOportunidadeTarefaDeValidacaoDaEmissao.Outputs.TaskId</elementReference>
                </value>
            </inputParameters>
            <label>Realizar Validação da Emissão de Minuta</label>
        </stageSteps>
    </orchestratedStages>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Orchestrator</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ValidarEmissaoDeMinuta</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Emissão e Pré-Assinatura</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
