creditas-sf/force-app/main/default/flows/ProductOfInterest_UpdateDealPhaseWhenMeetingIsConfirmed.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>CheckIfMeetingWasConfirmed</name>
        <label>Verificar se visita foi confirmada</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>MeetingConfirmation_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MeetingConfirmation__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deal__r.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>DealRecordType_AutoSales.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Deal__r.Phase__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Em negociação</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DealPhase_Negotiation</targetReference>
            </connector>
            <label>Visita Confirmada = Sim?</label>
        </rules>
    </decisions>
    <description>Flow disparado quando ocorre uma atualização no campo &quot;Visita confirmada?&quot; no Produto de Interesse e deve atualizar a Fase do Deal para &quot;Em Negociação&quot; quando os seguintes requisitos forem atendidos:

1) Campo Visita confirmada? = &quot;Sim&quot;;
2) Tipo de Registro do Deal = &quot;Auto - Vendas&quot;;
3) Fase do Deal diferente de &quot;Em Negociação&quot;</description>
    <interviewLabel>[ProductOfInterest] Atualizar fase do Deal quando visita for Confirmada {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[ProductOfInterest] Atualizar fase do Deal quando visita for Confirmada</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Tipo de Registro = Auto Vendas do Objeto Deal</description>
        <name>DealRecordType_AutoSales</name>
        <label>Tipo de Registro do Deal = Auto Vendas</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfMeetingWasConfirmed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Deal__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AutoSales</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Atualizar Fase do Deal relacionado ao Produto de Interesse para &quot;Em Negociação&quot;</description>
        <name>DealPhase_Negotiation</name>
        <label>Fase do Deal = Em Negociação</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Deal__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Phase__c</field>
            <value>
                <stringValue>Em negociação</stringValue>
            </value>
        </inputAssignments>
        <object>Deal__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>DealRecordType_AutoSales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MeetingConfirmation__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>ProductOfInterest__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
