creditas-sf/force-app/main/default/flows/TASK_ContagemQuantidadeTarefasEmAnalise.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>SomarNumeroDeTarefas</name>
        <label>Somar Número de Tarefas</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>NumberofTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PercorrerTarefasEmAnalise_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChecarTipoDeTarefaIgualAutoFin</name>
        <label>Checar Tipo de Tarefa igual AutoFin</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TarefaIgualAutofin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TipoDeRegistroAutoFin.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TarefasEmAnalise_0</targetReference>
            </connector>
            <label>Tarefa Igual Autofin?</label>
        </rules>
    </decisions>
    <interviewLabel>[TASK] Contagem Quantidade Tarefas Em Análise {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[TASK] Contagem Quantidade Tarefas Em Análise</label>
    <loops>
        <name>PercorrerTarefasEmAnalise_0</name>
        <label>Percorrer Tarefas Em Análise</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>TarefasEmAnalise_0</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SomarNumeroDeTarefas</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AtualizarQtdaDeTarefasEmAnalise</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>TarefasEmAnalise_0</name>
        <label>Tarefas Em análise</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PercorrerTarefasEmAnalise_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Formalização - Em análise</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoDeRegistroAutoFin.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>TipoDeRegistroAutoFin</name>
        <label>Tipo de registro AutoFin</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChecarTipoDeTarefaIgualAutoFin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AutoFin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarQtdaDeTarefasEmAnalise</name>
        <label>Atualizar Qtda de Tarefas Em Análise</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AnalysisQuantity__c</field>
            <value>
                <elementReference>NumberofTasks</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TipoDeRegistroAutoFin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Formalização - Em análise</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>NumberofTasks</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
