creditas-sf/force-app/main/default/flows/Task_UpdateProductOfInterestAndCreateMeetingConfirmationTask.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <decisions>
        <name>CheckIfMeetingScheduledDateIsGreaterThanToday</name>
        <label>Verificar se Data da Visita Agendada é Maior que Hoje</label>
        <locationX>182</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>MeetingDateGreaterThanToday</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MeetingDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Task_ConfirmMeetingOneDayBefore_0</targetReference>
            </connector>
            <label>Data da Visita é Maior que Hoje</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfMeetingScheduleIsFromAutoSales</name>
        <label>Verificar se Agentamento de Visita é de Auto - Vendas</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>MeetingScheduleIsFromAutoSales</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TaskRecordType_AutoSales.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agendar Visita pelo Campo &quot;Link para Agendar Visita&quot; no Produto de Interesse</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompleteTaskMeetingSchedule</targetReference>
            </connector>
            <label>Agendamento de Visita é de Auto - Vendas</label>
        </rules>
    </decisions>
    <description>Flow para realizar as seguintes ações quando ocorre uma atualização no campo &quot;Visita Confirmada?&quot; na Tarefa:
- Concluir a Tarefa que iniciou o Flow;
- Atualizar campo &quot;Visita Confirmada?&quot; no Produto de Interesse associado a Tarefa;
- Criar Tarefa de Confirmação da Visita com Data = 1 Dia Antes da Visita que está no Produto de Interesse</description>
    <formulas>
        <description>Verificar Data da Visita</description>
        <name>MeetingDate</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!ProductOfInterestRelatedToTask.MeetingTime__c})</expression>
    </formulas>
    <formulas>
        <description>Fórmula para Calcular:
Data da Visita no Produto de Interesse - 1</description>
        <name>OneDayBeforeMeetingDay</name>
        <dataType>Date</dataType>
        <expression>DATEVALUE({!ProductOfInterestRelatedToTask.MeetingTime__c}) - 1</expression>
    </formulas>
    <interviewLabel>[Task] Atualizar Produto de Interesse e Criar Tarefa de Confirmação de Visita {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Task] Atualizar Produto de Interesse e Criar Tarefa de Confirmação de Visita</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Criar Registros de Tarefas de Confirmar Visita 1 Dia Antes da Data Agendada no Produto de Interesse</description>
        <name>Task_ConfirmMeetingOneDayBefore_0</name>
        <label>Tarefa de Confirmar Visita 1 Dia Antes</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>OneDayBeforeMeetingDay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>BRL</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Confirmar Visita 1 Dia Antes do Agendado no Produto de Interesse</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>ProductOfInterestRelatedToTask.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Obter Produto de Interesse Relacionado a Tarefa de Agendamento que iniciou o Flow</description>
        <name>ProductOfInterestRelatedToTask</name>
        <label>Produto de Interesse Relacionado a Tarefa</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfMeetingScheduledDateIsGreaterThanToday</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProductOfInterest__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Obter o Tipo de Registro de Tarefa: Auto - Vendas para associar as Tarefas criadas no Flow.</description>
        <name>TaskRecordType_AutoSales</name>
        <label>Tipo de Registro de Tarefa: Auto - Vendas</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckIfMeetingScheduleIsFromAutoSales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AutoSales</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Concluir Tarefa de Agendamento de Visita (que iniciou o Flow)</description>
        <name>CompleteTaskMeetingSchedule</name>
        <label>Concluir Tarefa de Agendamento de Visita</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>UpdateMeetingConfirmationField_ProductOfInterest</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Atualizar Campo Visita Confirmada no Produto de Interesse conforme atualização realizada na Tarefa</description>
        <name>UpdateMeetingConfirmationField_ProductOfInterest</name>
        <label>Atualizar Campo Visita Confirmada no Produto de Interesse</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>ProductOfInterestRelatedToTask</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>MeetingConfirmation__c</field>
            <value>
                <elementReference>$Record.MeetingConfirmation__c</elementReference>
            </value>
        </inputAssignments>
        <object>ProductOfInterest__c</object>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TaskRecordType_AutoSales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MeetingConfirmation__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
