creditas-sf/force-app/main/default/flows/TempoGastoTarefaEmAnalise.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>SomarTempoGastoEmAnalise</name>
        <label>Somar Tempo Gasto Em Análise</label>
        <locationX>138</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>TempoTotalGastoEmAnalise</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TempoGastoTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PercorrerTarefasConcluidasEmAnalise</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ChecarTipoDeTarefaIgualAutoFin</name>
        <label>Checar Tipo de Tarefa igual AutoFin</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TarefaIgualAutofin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TipoDeRegistroAutoFin.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>TarefasConcluidasEmAnalise</targetReference>
            </connector>
            <label>Tarefa Igual Autofin?</label>
        </rules>
    </decisions>
    <formulas>
        <name>TempoGastoTask</name>
        <dataType>Number</dataType>
        <expression>({!PercorrerTarefasConcluidasEmAnalise.CompletedDateTime}-{!PercorrerTarefasConcluidasEmAnalise.StartDate__c})*24</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Tempo GastoTarefa {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[TASK] Tempo Gasto Tarefa Em Análise</label>
    <loops>
        <name>PercorrerTarefasConcluidasEmAnalise</name>
        <label>Percorrer Tarefas Concluidas Em Análise</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <collectionReference>TarefasConcluidasEmAnalise</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SomarTempoGastoEmAnalise</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AtualizarTempoTotalGastoEmAnalise</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>TarefasConcluidasEmAnalise</name>
        <label>Tarefas Concluidas Em análise</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PercorrerTarefasConcluidasEmAnalise</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Formalização - Em análise</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TipoDeRegistroAutoFin.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>TipoDeRegistroAutoFin</name>
        <label>Tipo de registro AutoFin</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ChecarTipoDeTarefaIgualAutoFin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AutoFin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarTempoTotalGastoEmAnalise</name>
        <label>Atualizar Tempo Total Gasto Em Análise</label>
        <locationX>50</locationX>
        <locationY>1031</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AnalysisTotalTime__c</field>
            <value>
                <elementReference>TempoTotalGastoEmAnalise</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>TipoDeRegistroAutoFin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>TaskType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Formalização - Em análise</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TempoTotalGastoEmAnalise</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
